body {
    
    background-color: rgb(230, 222, 189);

}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color:rgb(82, 174, 11)

}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;

}

header {

}

