header {
  background-color: lightgray;
  margin-bottom: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15%;
  font-family: Arial;
  font-size: 18px;
}

img {
  width: 70%;
  margin-left: auto;
  margin-right: auto
}


h1 {
  font-family: Arial;
  font-style: italic;
  font-size: 40px;
  margin-left: 15%;
  margin-right: 15%
}


p {
  font-family: Arial;
  font-size: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

.chart {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}


