<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="author" content="BabylonML Contributors">
        
        <link rel="shortcut icon" href="../../img/favicon.ico">
        <title>Camera - BabylonML Documentation</title>
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/fontawesome.min.css" rel="stylesheet">
        <link href="../../css/brands.min.css" rel="stylesheet">
        <link href="../../css/solid.min.css" rel="stylesheet">
        <link href="../../css/v4-font-face.min.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        <link id="hljs-light" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css" >
        <link id="hljs-dark" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css" disabled>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="../..">BabylonML Documentation</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a href="../.." class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="../../getting-started/" class="nav-link">Getting Started</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"  aria-expanded="false">Core Concepts</a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../concepts/scene/" class="dropdown-item">Scene (`<bml-scene>`)</a>
</li>
                                    
<li>
    <a href="../../concepts/entity/" class="dropdown-item">Entity (`<bml-entity>`)</a>
</li>
                                    
<li>
    <a href="../../concepts/components/" class="dropdown-item">Components</a>
</li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle active" aria-current="page" role="button" data-bs-toggle="dropdown"  aria-expanded="false">Components Reference</a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../position/" class="dropdown-item">Position</a>
</li>
                                    
<li>
    <a href="../rotation/" class="dropdown-item">Rotation</a>
</li>
                                    
<li>
    <a href="../scale/" class="dropdown-item">Scale</a>
</li>
                                    
<li>
    <a href="../geometry/" class="dropdown-item">Geometry</a>
</li>
                                    
<li>
    <a href="../material/" class="dropdown-item">Material</a>
</li>
                                    
<li>
    <a href="./" class="dropdown-item active" aria-current="page">Camera</a>
</li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="../../examples/" class="nav-link">Live Examples</a>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ms-md-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../material/" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="../../examples/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-body-tertiary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-bs-level="1"><a href="#camera-component" class="nav-link">Camera Component</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-bs-level="2"><a href="#usage" class="nav-link">Usage</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#properties" class="nav-link">Properties</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#multiple-cameras" class="nav-link">Multiple Cameras</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="camera-component">Camera Component</h1>
<p>The <code>camera</code> component allows you to define and configure the camera used to view the BabylonML scene. It should be attached to a <code>&lt;bml-entity&gt;</code>.</p>
<p>The first <code>camera</code> component initialized in the scene will automatically become the <code>activeCamera</code>.</p>
<h2 id="usage">Usage</h2>
<pre><code class="language-html">&lt;bml-scene&gt;
  &lt;!-- Define an ArcRotateCamera --&gt;
  &lt;bml-entity camera=&quot;type: arcRotate; target: 0 1 0; alpha: -1.57; beta: 1.2; radius: 5; attachControl: true&quot;&gt;&lt;/bml-entity&gt;

  &lt;!-- Define a UniversalCamera (FreeCamera) --&gt;
  &lt;bml-entity camera=&quot;type: universal; position: 0 5 -10; target: 0 0 0; attachControl: true&quot;&gt;&lt;/bml-entity&gt;

  &lt;!-- Other scene entities --&gt;
  &lt;bml-box position=&quot;0 0 0&quot;&gt;&lt;/bml-box&gt;
&lt;/bml-scene&gt;
</code></pre>
<h2 id="properties">Properties</h2>
<p>The <code>camera</code> attribute accepts a style-like string of key-value pairs, separated by semicolons.</p>
<table>
<thead>
<tr>
<th>Property</th>
<th>Description</th>
<th>Default Value</th>
<th>Applicable Camera Types</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>type</code></td>
<td>The type of camera to create.</td>
<td><code>universal</code></td>
<td>All</td>
</tr>
<tr>
<td><code>position</code></td>
<td>The initial position of the camera.</td>
<td><code>0 5 -10</code></td>
<td><code>universal</code>, <code>free</code></td>
</tr>
<tr>
<td><code>target</code></td>
<td>The point the camera looks at.</td>
<td><code>0 0 0</code></td>
<td><code>universal</code>, <code>arcRotate</code></td>
</tr>
<tr>
<td><code>alpha</code></td>
<td>The horizontal rotation angle (radians) around the target.</td>
<td><code>-PI / 2</code> (-90°)</td>
<td><code>arcRotate</code></td>
</tr>
<tr>
<td><code>beta</code></td>
<td>The vertical rotation angle (radians) around the target. Clamped by default.</td>
<td><code>PI / 2</code> (90°)</td>
<td><code>arcRotate</code></td>
</tr>
<tr>
<td><code>radius</code></td>
<td>The distance from the camera to the target.</td>
<td><code>10</code></td>
<td><code>arcRotate</code></td>
</tr>
<tr>
<td><code>attachControl</code></td>
<td>Whether to attach default camera controls to the canvas.</td>
<td><code>true</code></td>
<td>All</td>
</tr>
<tr>
<td><code>fov</code></td>
<td>Field of View (vertical, radians). <em>Not yet implemented.</em></td>
<td><code>0.8</code></td>
<td>All</td>
</tr>
<tr>
<td><code>minZ</code></td>
<td>Near clipping plane distance. <em>Not yet implemented.</em></td>
<td><code>0.1</code></td>
<td>All</td>
</tr>
<tr>
<td><code>maxZ</code></td>
<td>Far clipping plane distance. <em>Not yet implemented.</em></td>
<td><code>1000</code></td>
<td>All</td>
</tr>
<tr>
<td><code>speed</code></td>
<td>Movement speed for universal/free cameras. <em>Not yet implemented.</em></td>
<td><code>1.0</code></td>
<td><code>universal</code>, <code>free</code></td>
</tr>
</tbody>
</table>
<p><strong>Supported Camera Types:</strong></p>
<ul>
<li><code>universal</code> (or <code>free</code>): A first-person style camera. Uses <code>position</code> and <code>target</code>.</li>
<li><code>arcRotate</code>: A camera that rotates around a <code>target</code> point based on <code>alpha</code>, <code>beta</code>, and <code>radius</code>.</li>
</ul>
<h2 id="multiple-cameras">Multiple Cameras</h2>
<p>You can define multiple entities with the <code>camera</code> component within a single <code>&lt;bml-scene&gt;</code>. Each component will create its corresponding Babylon.js camera instance.</p>
<p>However, Babylon.js can only render through one active camera at a time. BabylonML follows a <strong>"first-one-wins"</strong> approach:</p>
<ul>
<li>The <strong>first</strong> <code>&lt;bml-entity&gt;</code> with a <code>camera</code> component that successfully initializes will have its camera set as <code>scene.activeCamera</code>.</li>
<li>Subsequent camera components will still create their cameras, but they will not be active by default.</li>
</ul>
<p>If you need to switch between cameras after the scene has loaded, you will need to use JavaScript to access the Babylon.js <code>Scene</code> object and set the <code>activeCamera</code> property manually. You can get a reference to a specific camera using <code>scene.getCameraByName(...)</code> or <code>scene.getCameraByID(...)</code> if you assign an <code>id</code> to your camera entities.</p>
<p><strong>Example (JavaScript):</strong></p>
<pre><code class="language-javascript">const sceneEl = document.querySelector('bml-scene');
sceneEl.addEventListener('bml-scene-ready', (event) =&gt; {
  const babylonScene = event.detail.scene;

  // Assuming you have &lt;bml-entity id=&quot;camera2&quot; camera=&quot;...&quot;&gt;
  const secondCamera = babylonScene.getCameraByID('camera2_universalCamera'); // Name might vary based on type/id

  if (secondCamera) {
    // Switch to the second camera after 5 seconds
    setTimeout(() =&gt; {
      babylonScene.activeCamera = secondCamera;
      console.log('Switched active camera to:', secondCamera.name);
    }, 5000);
  }
});
</code></pre>
<ul>
<li><strong>Live Example:</strong> <a href="https://bayblonml-frontend.netlify.app/examples/multi_camera_scene.html">View Multiple Camera Scene</a></li>
</ul>
<p><strong>Note:</strong> Currently, only the initial properties set via the attribute are used. Dynamically updating the <code>camera</code> attribute after the scene loads might not fully reconfigure the camera; it might dispose the old one and create a new one based on the new attribute string.</p>
<p><strong>Active Camera:</strong> The framework automatically sets the <em>first</em> camera component encountered in the DOM as the scene's active camera. If you define multiple cameras, only the first one will be active initially.</p></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script src="../../js/bootstrap.bundle.min.js"></script>
        <script>
            var base_url = "../..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../../js/base.js"></script>
        <script src="../../search/main.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
