body {
  font-family: Arial, sans-serif;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: darkgray;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
}

img {
  width: 100%;
}

.caption {
  font-size: 14px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px
}

h1 {
  font-style: italic;
  font-size: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 1.5rem;
}


p {
  font-family: Baskerville, sans-serif;
  font-size: 25px;
}

p:first-letter {
  float: left;
  font-size: 10em;
  line-height: 0.75em;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-left: 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
.otherimg {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
