/* General Body Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styling */
header {
  background-color:grey;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Content Section */
.container .row {
  margin-bottom: 20px;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.bg-secondary {
  background-color: #6c757d !important;
  color: #ffffff;
}

/* Footer Styling */
footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
}

footer h4 {
  margin-bottom: 10px;
}
